{{> nav/nav-block}}



<!-- Landing Page -->
<section style="background-color: #F7CD1C">
 {{!-- <section >  --}}
          <div class="content" style="background-color:#FFFDF5">
              <div class="grid-container">
                <div class="grid-x grid-padding-x text-center align-center">
                <div class="large-8 cell">
                  <img src="/static-files/assets/images/s_i_s_svg.png" style="border: 4px solid #F28808"> 
                </div>
                <div class="large-4 cell text-center align-bottom" style=>
                <div class="grid-x grid-padding-x align-bottom">
                 <h1 style="color: #45BED2; border-bottom: 4px solid #45BED2; margin-top: 12vh;padding-bottom:1vh">Hello!<br></h1> 
                  <h2 class="" style="color: #F28808; margin-top: 6vh; margin-bottom: 6vh">I'm a Student Information System that makes communication between preschool teachers and parents effortless and efficient.</h2> 
                  <!-- Login -->
                  <a id="login-modal" class="login-box-social-button-facebook">Login</a>
                  <!-- Sign up -->
                  <a id="register" class="login-box-social-button-twitter">Sign Up</a>
                 </div>
                </div>
                </div>
            </div>
          </div>
  
</section>
 
<!-- About S.I.S on landing page scroll -->  
<section>
  <div class="content">
    <div class="grid-container">
     <div class="grid-x grid-padding-x align-bottom" style="height: 60vh">
        <!-- Image: Left Side --> 
        <div class="cell large-6">
          <img style="margin: 0 auto; width: 80%; display: block; height: auto" src="/static-files/assets/images/characters/s_i_s_character_2.png">
        </div>
        <!-- Description: Communication --> 
        <div class="cell large-6 " style="height: 60vh">
          <div class="grid-x grid-padding-x align-center text-center" style="box-shadow: 0 4px 8px 0 rgba(252, 119, 11, 0.548), 0 6px 20px 0 rgba(252, 119, 11, 0.548);background-color: #F28808; height: 80px; border-radius: 29px; width: 240px; height: 240px; margin: 0 auto; margin-bottom: 1vh">
            <h4 id="communication" style="padding: 2vh;color: #FFFDF5;">COMMUNICATION</h4>
            <p style="font-weight: 600; border-top: 1px solid #FFFDF5; color: #FFFDF5; margin-top: -4vh; margin-left: 1vh; margin-right: 1vh; padding: 1vh; letter-spacing: 1px">Strengthen the bond between parents and teachers by allowing fast, efficient digital communication.</p>
          </div>
          <div class="grid-x grid-padding-x align-bottom text-center" style="color: #FFFDF5;">
            <!-- Description: Time --> 
            <div class="cell large-6">
              <div class="grid-x grid-padding-x align-center" style="box-shadow: 0 4px 8px 0 rgba(14, 204, 238, 0.644), 0 6px 20px 0 rgba(14, 204, 238, 0.644);background-color: #45BED2; height: 80px; border-radius: 29px; width: 240px; height: 240px; margin: 0 auto; margin-bottom: 1vh">
                <h4 style="padding: 2vh;color: #FFFDF5;">TIME</h4>
                <p style="font-weight: 600; border-top: 1px solid #FFFDF5; color: #FFFDF5; margin-top: -4vh; margin-left: 1vh; margin-right: 1vh; padding: 1vh; letter-spacing: 1px">Strengthen the bond between parents and teachers by allowing fast, efficient digital communication.</p>
              </div>
            </div>
            <!-- Description: Security --> 
            <div class="cell large-6">
              <div class="grid-x grid-padding-x align-center" style="box-shadow: 0 4px 8px 0 rgba(117, 47, 182, 0.493), 0 6px 20px 0 rgba(117, 47, 182, 0.493);background-color: #63476A; height: 80px; border-radius: 29px; width: 240px; height: 240px; margin: 0 auto; margin-bottom: 1vh">
                <h4 style="padding: 2vh;color: #FFFDF5;">SECURITY</h4>
                <p style="font-weight: 600; border-top: 1px solid #FFFDF5; color: #FFFDF5; margin-top: -4vh; margin-left: 1vh; margin-right: 1vh; padding: 1vh; letter-spacing: 1px">Strengthen the bond between parents and teachers by allowing fast, efficient digital communication.</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</section>
